---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Maby Mansour Ndoye" description="Discover Maby Mansour Ndoye's professional journey in IT Engineering, specializing in Data Management and Transmedia">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Maby"
				tagline="Delve into my world of IT innovation and transmedia storytelling. Learn more about my professional journey and expertise."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Maby Mansour Ndoye at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Professional Background</h2>
				<div class="content">
					<p>
						I am Maby Mansour Ndoye, an IT Engineer with a deep passion for Data Management and Transmedia. My career spans various roles in network and telecommunications engineering, leading to innovative projects in software development and data analysis.
					</p>
					<p>
						With a commitment to leveraging technology for creative solutions, I've developed a unique skill set that blends technical acumen with a strategic approach to digital media.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education & Training</h2>
				<div class="content">
					<p>
As an IT Engineer with a Master's degree in Network and Telecommunication Engineering, I have honed my skills in networking, IT systems, and telecommunications technologies. My academic journey has been supplemented by specialized training in data management and transmedia, equipping me with the expertise in data analysis and software development. This educational path has not only provided me with a robust technical foundation but also cultivated my ability to innovate in the dynamic field of IT.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Core Skills</h2>
				<div class="content">
					<p>IT and Network Engineering: Proficient in designing, implementing, and maintaining complex IT and network systems, ensuring optimal functionality and security.

Data Management: Skilled in managing and analyzing data, with an ability to transform data into actionable insights and strategies.

Transmedia and Multimedia Production: Experienced in creating engaging content across multiple media platforms, utilizing a range of tools and software for digital storytelling and media production.</